.select {
  display: inline-flex;
  justify-content: space-between;
  max-width: 12rem;
  width: 100%;
  padding: .625rem;
  background-color: #fff;
  border-radius: 4px;
}

.select-menu {
  background-color: #fff;
  border-radius: 4px;
  max-width: 12rem;
  width: 100%;
}

.active {
  background-color: rgba(0,10,50,0.15);
}

.select-option {
  width: 100%;
  padding: .625rem;
}

.select button {
  border: none;
  background: none;
  font-size: 1rem;
}

.arrow {
  margin-left: 1rem;
}
