<div class="select" (click)="open(dropdown, origin)" #origin>
  <span>
    {{ label }}
  </span>

  <div class="arrow">
    <i class="fas fa-chevron-down"></i>
  </div>

  <ng-template #dropdown>
    <div class="select-menu">
      <div class="select-option" *ngIf="!options.length">No results found...</div>
      <div
        class="select-option"
        *ngFor="let option of options"
        [class.active]="isActive(option)"
        (click)="select(option)">
        <i *ngIf="multiple && isActive(option)" class="fas fa-check"></i> {{ option.label }}
      </div>
    </div>
  </ng-template>

</div>
