<h3>Single select</h3>
<app-select
  [options]="dropdownList"
  (selectChange)="change($event)"
></app-select>

<h3>Multi select</h3>
<app-select
  [options]="dropdownList"
  (selectChange)="change($event)"
  [multiple]="true"
></app-select>
